<div class="page">

    <h1 class="text-center">Encrypt-Decrypt with AES256-GCM</h1>
    <br>
    <div>

        <div class="row">
            <div class="col-sm-6">
                Encryption From Back-end
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter object you want to encrypt"
                        [(ngModel)]="PlainTextForBackend">
                </div>

                <textarea class="form-control" readonly rows="3">{{returnEncKeyFromBackend}}</textarea>
                <br>
                <button type="button" class="btn btn-success float-right"
                    (click)="encryptDataFromBackEnd()">Encrypt</button>
            </div>
            <div class="col-sm-6">
                Decryption From Front End
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter encrypted Key that you want to decrypt"
                        [(ngModel)]="encyptedTextForfrontEnd">
                </div>
                <textarea class="form-control" readonly rows="3">{{returnDecTextFromFront}}</textarea>
                <br>
                <button type="button" class="btn btn-primary float-right "
                    (click)="decryptDataFromFrontEnd()">Decrypt</button>
            </div>
        </div>
    </div>
    <div *ngIf="loading" class="spinner-div">
           <div class="loader">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                    <div></div>
                </div>
    </div>
    <br>
    <div>
        <div class="row">
            <div class="col-sm-6">
                Encryption Frm Front-end
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter text you want to encrypt"
                        [(ngModel)]="PlainTextForfrontEnd">
                </div>
                <textarea class="form-control" readonly rows="3">{{returnEncKeyFromfrontEnd}}</textarea>
                <br>
                <button type="button" class="btn btn-primary float-right"
                    (click)="convertText('encrypt')">Encrypt</button>
            </div>
            <div class="col-sm-6">
                Decryption From Backend
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter text you want to decrypt"
                        [(ngModel)]="encyptedTextForBackend">
                </div>
                <textarea class="form-control" readonly rows="3">{{returnDecTextFromBackend}}</textarea>
                <br>
                <button type="button" class="btn btn-success float-right"
                    (click)="decryptDataFromBackEnd()">Decrypt</button>
            </div>
        </div>
    </div>

</div>